@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
  background: linear-gradient(to bottom, #eadaff, #f3eaff);
  height: auto !important;
}

body {
  letter-spacing: -0.05em !important;
  background: transparent;
  font-family: 'Nanum Gothic', sans-serif;
}

/* 키프레임 효과 */
@-webkit-keyframes GradationA {
  0% { border-color : #67a6ff; background-color : #c1c3dc }
  20% { border-color : #ef6ee5 ; background-color : #efddff }
  40% { border-color : #ff897a ; background-color : #ffdddd } 
  60% { border-color : #97c566 ; background-color : #c5ece3 }
  100% { border-color : #67a6ff ; background-color : #c1c3dc }
}

@-moz-keyframes GradationA {
  0% { border-color : #67a6ff; background-color : #c1c3dc }
  20% { border-color : #ef6ee5 ; background-color : #efddff }
  40% { border-color : #ff897a ; background-color : #ffdddd } 
  60% { border-color : #97c566 ; background-color : #c5ece3 }
  100% { border-color : #67a6ff ; background-color : #c1c3dc }
}

@keyframes GradationA {
  0% { border-color : #67a6ff; background-color : #c1c3dc }
  20% { border-color : #ef6ee5 ; background-color : #efddff }
  40% { border-color : #ff897a ; background-color : #ffdddd } 
  60% { border-color : #97c566 ; background-color : #c5ece3 }
  100% { border-color : #67a6ff ; background-color : #c1c3dc }
}

/*@-webkit-keyframes GradationA {
  0% { border-color : #9ea3e3; background-color : #9ea3e3 }
  20% { border-color : #d7abff ; background-color : #d7abff }
  40% { border-color : #ffb8b8 ; background-color : #ffb8b8 } 
  60% { border-color : #93efd9 ; background-color : #93efd9 }
  100% { border-color : #9ea3e3 ; background-color : #9ea3e3 }
}

@-moz-keyframes GradationA {
  0% { border-color : #9ea3e3; background-color : #9ea3e3 }
  20% { border-color : #d7abff ; background-color : #d7abff }
  40% { border-color : #ffb8b8 ; background-color : #ffb8b8 } 
  60% { border-color : #93efd9 ; background-color : #93efd9 }
  100% { border-color : #9ea3e3 ; background-color : #9ea3e3 }
}

@keyframes GradationA {
  0% { border-color : #67a6ff; background-color : #9ea3e3 }
  20% { border-color : #ef6ee5 ; background-color : #d7abff }
  40% { border-color : #ff897a ; background-color : #ffb8b8 } 
  60% { border-color : #97c566 ; background-color : #93efd9 }
  100% { border-color : #9ea3e3 ; background-color : #9ea3e3 }
}*/

@-webkit-keyframes GradationB {
  0% { border-color : #67a6ff; background-color : #c1c3dc }
  20% { border-color : #ef6ee5 ; background-color : #efddff }
  40% { border-color : #ff897a ; background-color : #ffdddd } 
  60% { border-color : #97c566 ; background-color : #c5ece3 }
  100% { border-color : #67a6ff ; background-color : #c1c3dc }
}

@-moz-keyframes GradationB {
  0% { border-color : #67a6ff; background-color : #c1c3dc }
  20% { border-color : #ef6ee5 ; background-color : #efddff }
  40% { border-color : #ff897a ; background-color : #ffdddd } 
  60% { border-color : #97c566 ; background-color : #c5ece3 }
  100% { border-color : #67a6ff ; background-color : #c1c3dc }
}

@keyframes GradationB {
  0% { border-color : #67a6ff; background-color : #c1c3dc }
  20% { border-color : #ef6ee5 ; background-color : #efddff }
  40% { border-color : #ff897a ; background-color : #ffdddd } 
  60% { border-color : #97c566 ; background-color : #c5ece3 }
  100% { border-color : #67a6ff ; background-color : #c1c3dc }
}

/* 전체 쉐도우 */

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}

/* 로고밑 NAV bar */

header #header-bar>.row {
  border-top: 4px solid #736b91;
  border-right: none;
  border-bottom: none;
}

/* 헤더 배너 */

header .row>div:nth-child(1)>a {
  display: block;
  width: 145px;
  height: 50px;
  background: url("./source/logo/wgd-logo.png") no-repeat;
  background-size: auto 50px;
}

header .row>div:nth-child(1)>a>img {
  display: none;
  
  filter: grayscale(100%);
  opacity: 0.8;
}

/* 검색폼 보더 */

header #right-search-form>input[type='text'] {
  border: 3px solid #736b91;
}

/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */

#main .menu-wrapper>.header {
  background: #736b91;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  color: white;
}

.fa-square:before {
  color: #736b91;
}

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  border-right: none;
  border-bottom: none;
}

#main .menu-wrapper {
  border: none;
}

/* 헤더 검색 버튼 */

header #right-search-form>#right-search-btn {
  color: #736b91;
}

/* 헤더 [광고]배경색 */

header #header-bar #header-top-notice strong.notice-badge {
  background: #736b91;
}

/* fa색상 */

header #header-bar .fa {
  color: #736b91;
}

/* 스트리머 게시판 상단 정보 글씨색상 */

#board-info #board-info-bottom a {
  color: #736b91;
}

#board-info h1>a {
  color: #736b91;
  font-weight: bolder;
}

#board-info {
    overflow: visible;
}

#board-info #board-info-profile-img{
    float: left !important;
    margin-right: 5px;
    border-radius: 100px;
    border: solid 1px #fdafab;
}

/* 접속자 수 표시 영역 */

#board-info #viewers-area {
    float: right;
}

#board-info #viewers-area .fa-user:before {
  display: block;
  content: "";
  width: 19px;
  height: 19px;
  background: url("./source/favicon/viewers_mark.png") 0 0/19px 19px no-repeat;
  content: "겨울나라 겨울요정 ;
}

#board-info #viewers{
  color: #6242ad;
  font-weight: normal;
}

/*#board-info #viewers-area:before {
  content: "겨울나라 겨울요정 ";
  color: #6242ad !important;
  font-weight: normal;
}
*/
#board-info #viewers-area:after {
  content: " 명 열일 중!";
  color: #6242ad !important;
  font-weight: normal;
}

/* 즐겨찾기 버튼 */

#board-info > #addFavoriteBtn i {
  display: block;
  color: #ffd535!important;
}

/* 좌측메뉴 숏컷링크 글씨 색상 */

#main .menu-wrapper>a>em {
  color: #736b91;
}

/* 좌측메뉴 메뉴사이의 공간 색상 */

#main .menu-wrapper .spacer {
  background: #736b91;
  height: 0.15em;
}

/* 게시글 관련부분 */

.fa-home:before {
  content: "\f015";
  color: #DEDCEF;
}

.fa-home.active {
  content: "\f015";
  color: #736b91;
}

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
  width: 120px !important;
}

#article-list #article-list-category {
  border-top: 2px solid #736b91;
  background: white;
  border-bottom: 2px solid #736b91;
}

#article-list #article-list-category>a {
  background: white;
  color: #6242ad;
}

#article-list #article-list-category > a.active {
  color: #736b91;
}

#article-list #article-list-category > a:hover {
  background: #ffffff;
  color: #736b91;
}

#article-list>.article-list-row>.item>.list-header>span {
  background-color: #736b91;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
  color: #736b91;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
  color: #736b91;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #736b91;
  border-color: #736b91;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #736b91;
}

.pagination>li>a,
.pagination>li>span {
  color: #736b91;
}

#article-content-wrapper>.header {
  border-top: 2px solid #736b91;
}

#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
  color: #736b91;
}

#article-info>h2 {
  font-weight: bold;
}

#article-info>h2>span.category {
  color: #736b91 !important;
}

#article-reply-area>.header h5 {
  color: #736b91;
}

#main .menu-wrapper>a {
  padding: 0.5em 1.4em 0.5em 0.7em !important;
}

a {
  color: #736b91;
}

span.a-badge i.fa.fa-info-circle {
  color: #736b91;
}

/* footer */

#article-list>.article-list-row {
  border-right: none;
}

#article-list #article-list-menu {
  box-sizing: border-box;
  width: unset;
  margin: 20px;
}

#article-list #boardSearchForm {
  padding-bottom: 20px;
  height: unset;
}

/* 글쓰기 버튼 색상 */

.btn-primary {
  background: #736b91 !important;
}

/* 마우스 커서 기본 */
html,
body,
.fr-popup.emoticons,
.fr-top,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt
{
  cursor: url("./source/favicon/mouse_cursor.png") 0 0, url('./source/favicon/mouse_cursor.cur') 0 0, auto !important;
}

/* 마우스 커서 링크 */
#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply > .reply-header > .reply-writer.logged,
.reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img,
.pull-left,
a {
  cursor: url("./source/favicon/mouse_cursor.png") 0 0, url('./source/favicon/mouse_cursor.cur') 0 0, auto !important;
}

/* 마우스 커서 텍스트 */
span#viewers,
#article-list #boardSearchForm .form-control,
.fr-view,
.fr-box.fr-basic.fr-element,
input[type='text']
{
  cursor: url("./source/favicon/mouse_cursor.png") 0 0, url('./source/favicon/mouse_cursor.cur') 0 0, auto !important;
}

/* 글쓰기 카테고리 배경색 */

#article-list #article-list-category {
background: #736b91;
border-top: 2px solid #736b91 !important;
margin-top: 4px;
margin-bottom: 4px;

}

/* 글쓰기 카테고리 색 시작 */
#article-list #article-list-category>a {
background:  #736b91;
position: relative;

}

header #header-bar>.row, #main .menu-wrapper, #main #main-content>div.frame {
    border-radius: 10px;

}

#main .menu-wrapper>.header {
    border-radius: 10px 10px 0 0;

}

#main .menu-wrapper a:nth-last-child(1) {
    border-radius: 0px 0px 10px 10px;

}

/* 메인 배너 글 공지 */

#article-list>.article-list-row.notice {
    background-color: #e9e8ef; /* 공지 배경 색 */

}

header #right-search-form>input[type=text] {
    border: 3px solid #736b91; /* 검색창 테두리 색 */
    border-radius: 15px;

}

/* 검색 버튼 */

header #right-search-form>#right-search-btn {
    color: #736b91; /* 검색창 옆 돋보기 색 */

}

/* 좌측 배너 */

#main .menu-wrapper {
    border: 1px solid #736b91; /* 좌측 배너 테두리 색 */
    border-top: none !important;

}

/* 좌측 배너 헤더 */

#main .menu-wrapper>.header {
    background: #736b91; /* 좌측 배너 제목 배경 색 */
    border-radius: 15px 15px 0 0;

}

/* 광고 배너 광고 뱃지 */

header #header-bar #header-top-notice strong.notice-badge {
    background: #736b91; /* 광고 배너 광고 뱃지 배경 색상 */

}

/* 게시판 점수 영역 */
#board-info #score-area {
  display: none;
}

/* 인기글 버튼 */

#article-list #article-list-menu>.btn.best {
    border-radius: 15px;
}

/* 설정 버튼 */

#article-list #article-list-menu>.btn.cog {
    border-radius: 15px;

}

/* 삭제 버튼 */

#article-list #article-list-menu>.btn.del {
    border-radius: 15px;

}

/* 글 쓰기 버튼 */

#article-list #article-list-menu>.btn.write {
    border-radius: 15px;

}

.btn-primary {
    background-color: #736b91; /* 글 쓰기 버튼 배경 색 */
    border-color: #736b91; /* 글 쓰기 버튼 배경 색 */

}

/* 목록 버튼 */

.btn {
    border-radius: 15px;

}

.btn-group-sm>.btn, .btn-sm {
    border-radius: 15px;

}

/* 댓글 작성자 닉네임 색 변경 */
#article-list>.article-list-row>.item>a.list-title>.list-writer.logged>span {
    color: #736b91;

}

/* 글 작성자 닉네임 색 변경 */
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
    color: #736b91;

}

/* 홈버튼 */

a,
a:hover,
a:focus {
  color: #736b91;

}

/* 공지 i */
span.a-badge i.fa.fa-info-circle {
  color: #736b91;

}


/* 인기글 상단, 하단 선 */

#article-list > .article-list-row.hot {
  border-top: solid 1px #736b91;
  border-bottom: solid 1px #736b91;
  box-sizing: border-box;
}

#article-list > .article-list-row.hot,
#article-list > .article-list-row.hot > .item,
#article-list > .article-list-row.hot > .item > .list-title > .list-category,
#article-list > .article-list-row.hot > .item > .list-title > .list-writer {
  -webkit-animation : 5s infinite GradationA;
  -moz-animation : 5s infinite GradationA;
  animation : 5s infinite GradationA;
  border-left: 0;
  border-right: 0;
}


/* 읽은 글 색상 처리 */
#article-list>.article-list-row>.item>.list-title>a:visited {
  color: #736b91 !important
}

html {

   background: linear-gradient(to bottom, #312e3d, #736b91);

  height: auto !important;

}



body {
  background: transparent;
  animation: snow 20s linear infinite;

  /*백그라운드 이미지 원근감느낌 이미지*/
  background-image:url('https://cdn.discordapp.com/attachments/460145928850898945/515694458633846831/snow.png'), url("https://cdn.discordapp.com/attachments/460145928850898945/515694460668084274/snow3.png"), url("https://cdn.discordapp.com/attachments/460145928850898945/515694462278828073/snow2.png");
}


/*뒷배경 움직이는 애니메이션*/
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}



#article-list>.article-list-row>.item>.list-title>a:hover {

    color: #736b91 !important; /* 글자에 커서 올렸을 때 색상 변경 */


}

#article-list>.article-list-row>.item>.list-title>a:visited {

    color: #a0a0a0 !important; /* 읽은 글 색상 코드 입력 */

}


/* 게시글 튀어나오는 효과 */

#article-list .article-list-row:hover, #article-list div.article-list-row.notice:hover, #article-neighbor-list>div:hover {
   transform: scale(1.02);
   transition: all 0.3s ease-in-out;
   box-shadow: 3px 5px 10px -5px black;
}

.category {
  color:#736b91 !important
}


/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }
}


/* 상단 이동 버튼 */

#movetotop {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

#movetotop img {
  content: url('./source/favicon/mtt_character.png');
  height: 100px;
  width: 100px;
}


/* dropdown animation 효과 */
.dropdown.open .dropdown-menu,
.input-group-btn.open .dropdown-menu {  
  opacity: unset;
  transform: unset; 
  border: 2px solid #736b91;
  border-radius: 10px;  
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.dropdown .dropdown-menu,
.input-group-btn .dropdown-menu { 
  display: block !important; 
  opacity: 0;  
  transform: scale(0);
  transform-origin: top;
  transition: all 0.3s cubic-bezier(0.2, 1.5, 0, 1);   
  padding: 8px 0 3px 0px;
}

.dropdown-menu>li>a {  
  transition: .1s;
}

.dropdown-menu>li>a:hover {   
  background: transparent;
  transform: scaleX(1.04);
  transition: .1s;   
}


/* 게시글 추천/비추천 버튼 */

.vote-btn[data-type="up"] {
  border: none;
  font-size: 0;
  outline: 0 !important;
}

.vote-btn[data-type="up"]:hover {
  background: none !important;
}

.vote-btn[data-type="up"]::before {
  display: inline-block;
  background: white;
  border: solid #ff7373 1px;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  font-size: 18pt;
  content: "\f164";
  padding-top: 17px;
  padding-left: 2px;
  font: normal 22px/1 FontAwesome;
  -moz-transition: color .2s ease;
  -o-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  color: #ff7373;
}

.vote-btn[data-type="up"]:hover::before {
  background: #ff7373;
  color: white;
}

.vote-btn[data-type="up"]:focus::before {
  color: #ff7373;
}

.vote-btn[data-type="up"]:focus:hover::before {
  color: white;
}

.vote-btn[data-type="up"] span {
  float: left;
  padding-top: 14px;
  padding-left: 15px;
  font-size: 22px;
  color: #ff7373;
}

.vote-btn[data-type="down"] {
  border: none;
  font-size: 0;
  outline: 0 !important;
}

.vote-btn[data-type="down"]:hover {
  background: none !important;
}

.vote-btn[data-type="down"]::before {
  display: inline-block;
  background: white;
  border: solid #777777 1px;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  font-size: 18pt;
  content: "\f165";
  padding-top: 17px;
  padding-left: 2px;
  font: normal 22px/1 FontAwesome;
  -moz-transition: color .2s ease;
  -o-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  color: #777;
}

.vote-btn[data-type="down"]:hover::before {
  background: #777777;
  color: white;

}

.vote-btn[data-type="down"]:focus::before {
  color: #777777;
}

.vote-btn[data-type="down"]:focus:hover::before {
  color: white;
}

.vote-btn[data-type="down"] span {
  float: left;
  padding-top: 14px;
  padding-left: 15px;
  font-size: 22px;
  color: #777777;
}

/* 인기글 아이콘 애니메이션 효과 */

@keyframes rotation{ from { transform: rotate(0deg); } to { transform: rotate(360deg); } } 

span.a-badge i.fa.fa-star { animation: rotation 2s infinite; }


/* 스트리머 좋아요 하트 애니메이션 효과 */

.fa-heart:before {
    color: #ff8d8d;
    animation: pulse 1.5s infinite;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(255,141,141, 0.4);
}

.fa-eye:before {
    color: #736b91;
    content: "\f06e";
}

.fa-commenting:before {
    color: #736b91;
    content: "\f27a";
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,141,141, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,141,141, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,141,141, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,141,141, 0.4);
    box-shadow: 0 0 0 0 rgba(255,141,141, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255,141,141, 0);
      box-shadow: 0 0 0 10px rgba(255,141,141, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,141,141, 0);
      box-shadow: 0 0 0 0 rgba(255,141,141, 0);
  }
}